<div class="sticky bg-[#e28a8a] top-0 z-[1000] flex items-center px-10 md:px-12 h-[60px] rounded-b-3xl">
 
 
    <div class="cursor-pointer items-start  font-light   mx-auto md:flex  space-x-12 md:space-x-72 pr-8 ">
      
      <button class="bg-[#e28a8a] hover:bg-pink-500 text-gray-50 font-light hover:text-gray-100 py-2 px-4 border border-[#e28a8a] hover:border-transparent rounded-2xl">
        page 1
      </button>
      <button class="bg-[#e28a8a] hover:bg-pink-500 text-gray-50 font-light hover:text-gray-100 py-2 px-4 border border-[#e28a8a] hover:border-transparent rounded-2xl">
        page 2
      </button>
      <button class="bg-[#e28a8a] hover:bg-pink-500 text-gray-50 font-light hover:text-gray-100 py-2 px-4 border border-[#e28a8a] hover:border-transparent rounded-2xl">
        page 3
      </button>
      <button class="bg-[#e28a8a] hover:bg-pink-500 text-gray-50 font-light hover:text-gray-100 py-2 px-4 border border-[#e28a8a] hover:border-transparent rounded-2xl">
        page 4
      </button>
     
    </div>
 
   
</div>
